.jokes {
    &__back {
        height: 100vh;
        background-size: cover;
        background-image: url('../images/back_1.jpg');
    }
    &__jokeBox {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 280px;
        &.jokes__jokeBox--back0 {
            background-image: url('../images/blob_0.svg');
        }
        &.jokes__jokeBox--back1 {
            background-image: url('../images/blob_1.svg');
        }
        &.jokes__jokeBox--back2 {
            background-image: url('../images/blob_1.svg');
        }
        &.jokes__jokeBox--back3 {
            background-image: url('../images/blob_2.svg');
        }
        h1,
        h4,
        p {
            color: white;
        }
    }
    &__punt {
        display: none;
        &.show {
            display: block;
        }
    }
}

.meteo {
    background-color: #eee;
    border-radius: 16px;
    left: 16px;
    top: 16px;
    padding: 8px 16px;
    display: none;
    img {
        border-radius: 50%;
    }
    p {
        margin: 0 0 0 8px;
        font-weight: bold;
    }
}

.iconPunt {
    cursor: pointer;
    display: inline-block;
    width: 45px;
    height: 45px;
    text-indent: -9999px;
    background-size: cover;
    &__min {
        background-image: url('../images/min.png');
    }
    &__med {
        background-image: url('../images/med.png');
    }
    &__max {
        background-image: url('../images/max.png');
    }
}

.btn-info {
    color: white;
    &:hover,
    &:focus {
        color: white;
    }
}