.jokes {
    &__back {
        height: 100vh;
        background-size: cover;
        &.jokes__back--back0 {
            background-image: url('../images/back.jpg');
        }
        &.jokes__back--back1 {
            background-image: url('../images/blob.svg');
        }
        &.jokes__back--back2 {
            background-image: url('../images/blob_1.svg');
        }
        &.jokes__back--back3 {
            background-image: url('../images/blob_2.svg');
        }
    }
    &__jokeBox {
        background-color: #fff;
        border-radius: 15px;
        border: 1px solid #ccc;
        -webkit-box-shadow: 5px 5px 3px 1px #CCCCCC;
        box-shadow: 5px 5px 3px 1px #CCCCCC;
    }
    &__punt {
        display: none;
        &.show {
            display: block;
        }
    }
}

.meteo {
    border: 1px solid white;
    left: 16px;
    top: 16px;
    padding: 8px;
}

.iconPunt {
    cursor: pointer;
    display: inline-block;
    width: 45px;
    height: 45px;
    text-indent: -9999px;
    background-size: cover;
    &__min {
        background-image: url('../images/min.png');
    }
    &__med {
        background-image: url('../images/med.png');
    }
    &__max {
        background-image: url('../images/max.png');
    }
}